<h1>
    Hi <%= @name%>, welcome to our gossips page !
</h1>


  <div class="card text-center">
    <div class="card-body">
    <p>Bienvenue sur notre site de potins, il est chouette, non ?</p>
    <a href="<%= root_path %>" class="btn btn-primary">Voir les potins</a>
  </div>
   </div>
 

